<tr>
    <td
        style='background: #f5f5f5; text-align: center; font-size: 34px; font-weight: 700;font-family:gotham-bold;color:#25253b;padding: 60px 0 25px;'
    >
        Registeration Code
    </td>
</tr>
<tr>
    <td
        style='background: #f5f5f5;padding: 0 50px;font-size: 18px;font-family: gotham-light; font-weight: 400;line-height: 22px;'
    >
        <p><strong>Hello, {{name}}!</strong></p>
        <p style='margin:0;'>Email : <strong>{{email}}</strong></p>

        <p>Thank you for joining Payment Grid your registration code is: </p>
        <p style='margin:0;'>Code : <strong>{{code}}</strong></p>

    </td>
</tr>